# Data Processing & Database
pandas
psycopg2-binary
# Machine Learning
scikit-learn
joblib

# FastAPI & Uvicorn (for real-time inference)
fastapi
uvicorn

# Docker-related tools (for running in containers)
docker

# For plotting (if needed)
matplotlib
